In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

import warnings
warnings.filterwarnings("ignore")

In [2]:
path = "../CSV/bank.csv"

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [7]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [9]:
def create_model(model):
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(classification_report(y_test,y_pred))

### ADA Boosting / Adaptive Boosting

In [10]:
from sklearn.ensemble import AdaBoostClassifier

In [15]:
ada = AdaBoostClassifier(n_estimators=100)
create_model(ada)

              precision    recall  f1-score   support

           0       0.83      0.86      0.84      1760
           1       0.83      0.80      0.82      1589

    accuracy                           0.83      3349
   macro avg       0.83      0.83      0.83      3349
weighted avg       0.83      0.83      0.83      3349

### Gradient Boosting

In [17]:
from sklearn.ensemble import GradientBoostingClassifier

In [18]:
gb = GradientBoostingClassifier(n_estimators=100)
create_model(gb)

              precision    recall  f1-score   support

           0       0.87      0.82      0.84      1760
           1       0.81      0.86      0.83      1589

    accuracy                           0.84      3349
   macro avg       0.84      0.84      0.84      3349
weighted avg       0.84      0.84      0.84      3349

### Xtreme Gradient Boosting

In [20]:
from xgboost import XGBClassifier

In [21]:
xgb = XGBClassifier(n_estimators=200,reg_alpha=1)

In [22]:
create_model(xgb)

              precision    recall  f1-score   support

           0       0.87      0.83      0.85      1760
           1       0.82      0.86      0.84      1589

    accuracy                           0.85      3349
   macro avg       0.85      0.85      0.85      3349
weighted avg       0.85      0.85      0.85      3349