In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

import warnings
warnings.filterwarnings('ignore')

In [2]:
path = "../CSV/credit.csv"

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,39885.0,1.385745,-0.776183,-1.276504,-1.732802,1.456010,3.169421,-0.884741,0.730740,-1.056017,...,-0.621874,-1.564708,0.123824,1.000517,0.209903,0.827916,-0.064076,0.009821,41.94,0
1,160679.0,-1.509015,1.445546,-0.288465,-2.599796,0.031683,-1.161685,0.473007,0.802321,-0.222380,...,-0.202615,-0.777421,-0.045253,-0.348450,0.002970,0.383022,0.076898,0.082978,4.00,0
2,170043.0,-1.329675,1.671851,-0.668253,-1.316477,0.888102,-0.419414,-0.257771,-2.296987,-0.658676,...,-1.505724,-0.501284,0.140584,0.347481,-0.345795,-0.072878,-0.079008,0.114091,1.29,0
3,29820.0,-1.300095,1.004770,1.226453,0.143031,0.302872,-0.473174,1.110003,0.105973,-0.758082,...,-0.357558,-1.149148,0.012885,0.003805,-0.212856,-1.001165,-0.249979,-0.272285,83.00,0
4,84933.0,-1.209733,1.249704,1.185233,-0.112195,0.388526,-0.921451,1.410460,-0.761339,0.480302,...,-0.018978,0.304157,-0.212971,0.377686,0.254317,-0.606180,-0.663626,-0.142206,28.00,0

In [5]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [7]:
def create_model(model):
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(classification_report(y_test,y_pred))

### ADA Boosting / Adaptive Boosting

In [8]:
from sklearn.ensemble import AdaBoostClassifier

In [9]:
ada = AdaBoostClassifier(n_estimators=100)
create_model(ada)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     34124
           1       0.88      0.72      0.79        53

    accuracy                           1.00     34177
   macro avg       0.94      0.86      0.90     34177
weighted avg       1.00      1.00      1.00     34177

### Gradient Boosting

In [10]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gb = GradientBoostingClassifier(n_estimators=100,max_depth=25)
create_model(gb)

### XGBoost / Xtreme Gradient Boosting
<p>can see more difference in large dataset</p>

In [12]:
from xgboost import XGBClassifier

In [15]:
xgb = XGBClassifier(n_estimators=200,reg_alpha=10)

In [16]:
create_model(xgb)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     34124
           1       0.93      0.77      0.85        53

    accuracy                           1.00     34177
   macro avg       0.97      0.89      0.92     34177
weighted avg       1.00      1.00      1.00     34177